/* Navbar Sytles */
nav {
    border-bottom: 3px solid black;
}

.custom-recipe-tab{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Cover book styling */
#coverbook{
    background-image: url("../images/cover.png");
    background-size: 100% 100%;
    max-width: 400px;
    height: 550px;
}

#search_form{
    padding: 200px 0;
    margin-left: 17%;
    width: 70%;
}

/* Custom Modal styling  */

.modal-card{
    width: 400px;
}

/* Recipe List styling */
#book-container{
    width: 100%;
}

#bookleft{
    display: inline-block;
    flex: 1;
    background-image: url("../images/bookleft.png");
    background-size: 100% 100%;
    min-width: 300px;
    width: 400px;
    max-width: 400px;
    height: 500px;
}

#bookright{
    flex: 1;
    display: inline-block;
    background-image: url("../images/bookright.png");
    background-size: 100% 100%;
    min-width: 300px;
    width: 400px;
    max-width: 400px;
    height: 500px;
}

#feed{
    flex: 1;
    display: inline-block;
    background-image: url("../images/feed.png");
    background-size: 100% 100%;
    min-width: 300px;
    max-width: 300px;
    height: 500px;
}

#title{
    height: 100px;
}